{% extends "admin_layout.html" %}

{% block title %}
All Book Borrowings
{% endblock %}

{% block content %}

  <table class="table table-hover table-stripped table-borderless">
    <thead class="thead-dark">
    <tr>
	  <th>Book Id</th>
      <th>Title</th>
      <th>Borrow Date</th>
      <th>Due Date</th>
      <th>User Id</th>
    </tr>

    {% for k in list %}
      <tr>
        <td>{{ k[0] }}</td>
        <td>{{ k[1] }}</td>
        <td>{{ k[2] }}</td>
        <td>{{ k[3] }} </td>
		    <td>{{ k[4] }} </td>
      </tr>
    {% endfor %}

  </table>
{% endblock %}